 body {
  background-image: url("image/background.png");
     background-color: black;
     background-repeat: no-repeat;
  background-attachment: fixed;
     background-position: center;
     background-size: cover;
}

h1 {
    text-align: center;
  color: whitesmoke;
  margin-left: 20px;
}


@media only screen and (min-width: 550px) {
    /* styles for MacBook Pro-sized screens and larger */
    .logo-container {
        text-align:         center;
        align-content:      center;
        height:             150px;
    }
    .logo-container img{
        width:              550px;
    }
    .event-container{
        text-align:         center;
        align-content:      center;
    }
    .event-container img{
        width:              450px;
    }
}

@media only screen and (max-width: 550px) {
    /* styles for narrow screens */

    /* Details for drawing sacura logo. */
    .logo-container {
        text-align:         center;
        align-content:      center;
    }
    .logo-container img{
        width:              100%; /*stretch to fit entire width of screen.*/
    }
    .event-container{
        text-align:         center;
        align-content:      center;
    }
    .event-container img{
        width:              100%
    }
}


